body{
    background-color:#f6f0e2;
    color: #015270;
}
.utility {
 position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 5px;
    background-color: #f1e5cf;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
    flex-wrap: wrap }
.icon{
    fill: #015270;
    fill-rule: evenodd;
    clip-rule: evenodd;
    width: 24px;
    height: 24px;
}
.small.icon{
transform: scale(0.8);
}
.large.icon{
transform: scale(1.2);
}
button{
    background-color: #94bece;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.right{
    display: flex;
    gap: 10px;
    align-items: center;
}
.left{
    display: flex;
    gap: 10px;
    align-items: center;
}
.searchbar{
    width: 100%;
    max-width: 400px;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
   

} 
.searchbar:focus {
    border-color: #888;
    transform: scale(1.05);
    transition-duration:3s;
}
.search{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 200px;
    flex: 1; 
    float: left;
    margin-left: 15%;
    margin-right: 5%;
}
.icon:hover{
    transform: scale(1.5);
    transition-duration: .5s;
}
