*{
    margin: 0;
    padding: 0;
    color: darkred;
    transition: transform 0.5s ease;
}
body{
    min-height: 100vh;
    background-color: antiquewhite;
    font-size: 20px;
    background-image: url("patterns.jpg");
    background-repeat: repeat;
    background-blend-mode: overlay;
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.3px;
}
.uppernav{
    position: fixed;
    width: 100%;
    background-color: antiquewhite;
    border-bottom: 1px solid rgba(139, 0, 0, 0.338);
    background-image: url("patterns.jpg");
    background-repeat: repeat;
    background-blend-mode: overlay; 
    transition: 1s;
    height:70px;
    z-index: 999;
}
.uppernav svg:hover
{
    transform: scale(1.5);
}
.uppernav ul
{ 
     display: flex;
}
.uppernav ul, .sidebar ul{
    width: 100%;
    list-style: none;
    justify-content: flex-end;
    align-items: center; 

}
.uppernav li{
    display: flex;
    align-items: center;
}
.uppernav li:first-child{
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.uppernav button, .sidebar button{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    height:80%;

}
.hideOnMobile:hover{
    transform: scale(1.2);

}
.sidebar{
    position:fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 9999;
    display: none;
    background-color: rgba(250, 235, 215, 0.322);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0) ;
    flex-direction: column;
    justify-content: flex-start;
    backdrop-filter: blur(3px);
    border-left: 1px solid darkred;
    transition: 1s;
}
.sidebar li{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.sidebar button
{
    padding: 15px 20px;
    width: 100%;
}
.sidebar button:hover
{
    background: rgba(255, 228, 196, 0.775);
    border-radius: 15px;
    cursor: pointer;
    background-image: url("patterns.jpg");
    background-repeat: repeat;
    background-blend-mode: overlay;
    border:1px inset darkred;
}

svg{
    width: 30px;
    height: 30px;
    fill:darkred;
    cursor: pointer;
}
#menubutton
{
    display: none;
    
}
@media(max-width:800px)
{
    .uppernav .hideOnMobile{
display: none;  
  }
    #menubutton
    {
        display:block;
    }
}
@media(max-width:500px)
{
.sidebar{
    width: 100%;
}
}
.lownav
{
    display:flex;
    position: fixed;
    flex-direction: row;
    z-index: 999;
    width: 100%;
    background-color: rgb(255, 246, 234);
    border-bottom: 1px solid rgba(139, 0, 0, 0.338);
    top: 71px;
    background-image: url("patterns.jpg");
    background-repeat: repeat;
    background-blend-mode: overlay
  
}
.lownav ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}
.lownav a
{
    text-decoration: none;
    transition: 0.3s;
}
.lownav a:hover
{
    background-color: rgba(255, 210, 164, 0.271);
}
.booking{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkred;
    border-radius: 30px;
    background-color: rgb(255, 246, 234);
    height: 100%;
    width: 90%;
    padding: 5px;
    margin: 20px auto;
    background-image: url("patterns.jpg");
    background-repeat: repeat;
    background-blend-mode: overlay;
}
.booking select
{
    height:40px;
    border-radius: 10px;
    margin: 20px 12px;
    border: 1px solid rgba(128, 128, 128, 0.359);
    box-shadow: -2px  2px 0px rgba(0, 0, 0, 0.129);
}
.booking select:focus
{
    transition:  0.5s ease;
    border-color: darkred;
}
.booking button
{
    display: block;
    margin: auto auto 15px auto;
    padding: 10px 20px 10px 20px;
    background: rgb(255, 254, 253);
    border: 1px solid rgba(211, 211, 211, 0.492);
    box-shadow: -2px  2px 0px rgba(0, 0, 0, 0.129);
    border-radius: 10px;
    font-size: 20px;
}
.booking button:hover{
    background: darkred;
    color:rgb(255, 254, 253);
    transform: scale();
    cursor: pointer;
    transition:  0.5s ease;

}

.top {
    position: relative;
    width: 100%;
    bottom:0;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    background-color: transparent;
    box-shadow: inset 0 -40px 40px rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(139, 0, 0, 0.338);
}

.top h1 {
    font-style: italic;
    color: darkred;
    font-size: 45px;
    z-index: 2;
    position: absolute;
    top: 20%;
    left:0;
    padding: 20px;
    margin-right: 10%;
}

.pyramids-overlay {
    position: absolute;
    right:0;
    bottom:0;
    width: 600px;             
    pointer-events: none;       
    z-index: 1;
    filter: blur(1px);
    mix-blend-mode: multiply;
    opacity: 0.5;
    filter: grayscale(20%);
}

.content
{
    margin: 30px auto;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.292);
    border: 1px solid ;
}
.filters
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.filters button 
{
    border: 1px solid rgba(211, 211, 211, 0.314);
    padding:10px;
    background: rgb(255, 246, 234);
    box-shadow: -2px  2px 0px rgba(0, 0, 0, 0.129);
    border-radius: 4px;

}
.filters button:hover
{
    background: darkred;
    color:rgb(255, 254, 253);
    cursor: pointer;
    transition:  0.5s ease;

}
#topref
{
    position: sticky;
    left: 100%;
    bottom: 0 ;
}
button.active
{
    background: darkred;
    color:rgb(255, 254, 253);
}
.places
{ 
    width: 100%;
    display: flex;
    margin: 20px 0;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.place
{
    position: relative;
    width: 250px;
    height: 300px;
    background-color: rgb(255, 246, 234);
    border-radius: 10px;
    border: 1px solid rgba(139, 69, 19, 0.2);
    flex-direction: column;
    transition: 0.3s ease;
    overflow: hidden;   
    background-size:  140% 100%;
    background-repeat: no-repeat;
    transition: background-image 0.5 ease-in-out;
    background-position-x: -50px;
}
.place:hover
{
    transform: scale(1.1 );

}
.place h5 
{
    margin: 0;  
    padding: 10px;
    background:darkred;
    color: rgb(255, 246, 234);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.place .info
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(139, 0, 0, 0.611);
    border-top: 1px solid  rgba(139, 69, 19, 0.2);
    text-align: center left;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 10;
    transform:translateY(100%);
}
.place .info p
{
    z-index: 11;
     color: rgb(255, 246, 234);
     font-size: small;
}
.place:hover .info
{
    transform:translateY(0);
    opacity: 1;
}
#one
{
    background-image: url("abusimbelout.jpg");

}
#one:hover
{
    background-image: url("abusimbelin.jpg");
}
#two
{
    background-image: url("alexnationout.jpg");
}
#two:hover
{
    background-image: url("alexnationin.jpg");
}
#three
{
    background-image: url("copticout.jpg");

}
#three:hover
{
    background-image: url("copticin.jpg");
}
#four
{
    background-image: url("dahshurout.jpg");

}
#four:hover
{
    background-image: url("dahshurin.jpg");
}
#five
{
    background-image: url("egmuseumout.jpg");

}
#five:hover
{
    background-image: url("egmuseumin.jpg");
}
#six
{
    background-image: url("gemout.jpg");

}
#six:hover
{
    background-image: url("gemin.jpg");
}
#seven
{
    background-image: url("pyrout.jpg");

}
#seven:hover
{
    background-image: url("pyrin.jpg");
}
#eight
{
    background-image: url(".jpg");

}
#eight:hover
{
    background-image: url(".jpg");
}
#nine
{
    background-image: url(".jpg");

}
#nine:hover
{
    background-image: url(".jpg");
}
#ten
{
    background-image: url(".jpg");

}
#ten:hover
{
    background-image: url(".jpg");
}
#elev
{
    background-image: url(".jpg");

}
#elev:hover
{
    background-image: url(".jpg");
}
#twel
{
    background-image: url(".jpg");

}
#twel:hover
{
    background-image: url(".jpg");
}
#thir
{
    background-image: url(".jpg");

}
#thir:hover
{
    background-image: url(".jpg");
}
#fourt
{
    background-image: url(".jpg");

}
#fourt:hover
{
    background-image: url(".jpg");
}
#fift
{
    background-image: url(".jpg");

}
#fift:hover
{
    background-image: url(".jpg");
}
#sixt
{
    background-image: url(".jpg");

}
#sixt:hover
{
    background-image: url(".jpg");
}
#sevent
{
    background-image: url(".jpg");

}
#sevent:hover
{
    background-image: url(".jpg");
}
#eightt
{
    background-image: url(".jpg");

}
#eightt:hover
{
    background-image: url(".jpg");
}
#nint
{
    background-image: url(".jpg");

}
#nint:hover
{
    background-image: url(".jpg");
}
#twen
{
    background-image: url(".jpg");

}
#twen:hover
{
    background-image: url(".jpg");
}
#twen1ree
{
    background-image: url(".jpg");

}
#twen1:hover
{
    background-image: url(".jpg");
}
#twen2
{
    background-image: url(".jpg");

}
#twen2:hover
{
    background-image: url(".jpg");
}
#twen3
{
    background-image: url(".jpg");

}
#twen3:hover
{
    background-image: url(".jpg");
}
#twen4
{
    background-image: url(".jpg");

}
#twen4:hover
{
    background-image: url(".jpg");
}
#twen5
{
    background-image: url(".jpg");

}
#twen5:hover
{
    background-image: url(".jpg");
}
#twen6
{
    background-image: url(".jpg");

}
#twen6:hover
{
    background-image: url(".jpg");
}
#twen7
{
    background-image: url(".jpg");

}
#twen7:hover
{
    background-image: url(".jpg");
}
#twen8
{
    background-image: url(".jpg");

}
#twen8:hover
{
    background-image: url(".jpg");
}
